*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color : yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .container{
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     .content{
//         width: 50%;
//         height: 50%;
//         background-color: white;
//         border-radius: 10px;
//         position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         gap: 10%;

//         .emogi{
//             cursor: pointer;
//             padding: 0 10px;
//             color: yellow;
//             // display: none;
//             i:nth-of-type(5){
//                 color: green;
//             }
//             i:nth-of-type(4){
//                 color: blue;
//             }
//             i:nth-of-type(3){
//                 color: orange;
//             }
//             i:nth-of-type(2){
//                 color: rgb(255, 247, 0);
//             }
//             i:nth-of-type(1){
//                 color: rgb(255, 0, 0);
//             }

//         }
//         .stars{
//             cursor: pointer;
//             padding: 0px 10px;
//         }
//     }




// }
.container{
    background-color: white;
    width: 440px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.7);

    position: relative;

    .emogi{
        position: absolute;
        top: 20%;
        left: 50%;
        width: 50px;
        height: 50px;
        background-color: yellow;
        border-radius: 50%;
        transform: translateX(-50%);
        display: flex;
        overflow: hidden;

        .far{
            margin: 1px;
            transform: translateX(0px);
        }
    }
    .stars{
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        cursor: pointer;


        .fa-star{
            color: lightgray;
        }
        .fa-star.active{
            color: yellow;
        }
    }
}


